body {
  background-color: pink;
}

#EDUCATIANAL {
  font-style: oblique;
  color: blue;
}

#p2 {
  float: right;
  font-style: italic;
}

#p3 {
  align-self: center;
  color: white;
  font-style: italic;
  color: white;
}

#pq {
  font-style: italic;
  color: yellow;
}

#work {
  color: #21B959;
}

.p4 {
  align-self: flex-end;
}
.subscripton{
  align-self: center;
  font-size: 40px;
  padding: 20px;
}
