.topnav{
  background-color:#009B87;
  padding: 20px;
  color: white;
  align-items: center;
    border-collapse: collapse;
    border-style: ridge;
    margin-right: -30px;
}

#topnav{  background-color:#313E51;
  padding: 20px;
  color: white;
  align-items: center;
    border-collapse: collapse;
    border-style: ridge;
    margin-right: -30px;

}


.row{
  border: 0px;
  padding: 0px;
}

.panel{
  background-color: #F12B40;
  padding: 100px;
  margin-right: -30px;
}

#img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
}
body{
  background-color: blue;
}

.topnav:hover{
  opacity: 0.7;
  background-color: white;
  color: blue;
}
