.topnav{
  background-color:#009B87;
  padding: 20px;
  color: white;
  align-items: center;
    border-collapse: collapse;
    border-style: ridge;
    margin-right: -30px;
}

#topnav{  background-color:#313E51;
  padding: 20px;
  color: white;
  align-items: center;
    border-collapse: collapse;
    border-style: ridge;
    margin-right: -30px;

}


.row{
  border: 0px;
  padding: 0px;
}

.panel{
  background-color: #F12B40;
  padding: 200px;
  margin-right: -30px;
}
